/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/var/*
!/var/data/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/.idea/**
docker/.env